In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('database.sqlite')

In [4]:
df = pd.read_sql_query("SELECT * FROM May2015 LIMIT 50000", db)
df['index'] = df.index

DatabaseError: Execution failed on sql 'SELECT * FROM May2015 LIMIT 50000': no such table: May2015

In [5]:
df.head()

,created_utc,ups,subreddit_id,link_id,name,score_hidden,author_flair_css_class,author_flair_text,subreddit,id,...,archived,author,score,retrieved_on,body,distinguished,edited,controversiality,parent_id,index
0,1430438400,4,t5_378oi,t3_34di91,t1_cqug90g,0,None,None,soccer_jp,cqug90g,...,0,rx109,4,1432703079,くそ\n読みたいが買ったら負けな気がする\n図書館に出ねーかな,None,0,0,t3_34di91,0
1,1430438400,4,t5_2qo4s,t3_34g8mx,t1_cqug90h,0,Heat,Heat,nba,cqug90h,...,0,WyaOfWade,4,1432703079,gg this one's over. off to watch the NFL draft...,None,0,0,t3_34g8mx,1
2,1430438400,0,t5_2cneq,t3_34f7mc,t1_cqug90i,0,None,None,politics,cqug90i,...,0,Wicked_Truth,0,1432703079,Are you really implying we return to those tim...,None,0,0,t1_cqufim0,2
3,1430438400,3,t5_2qh1i,t3_34f9rh,t1_cqug90j,0,None,None,AskReddit,cqug90j,...,0,jesse9o3,3,1432703079,No one has a European accent either because i...,None,0,0,t1_cqug2sr,3
4,1430438400,3,t5_2qh1i,t3_34fvry,t1_cqug90k,0,None,None,AskReddit,cqug90k,...,0,beltfedshooter,3,1432703079,"That the kid ""..reminds me of Kevin."" so sad...",None,0,0,t3_34fvry,4

In [6]:
top_comment = df[df.link_id == df.parent_id]

In [7]:
top_comment.shape

(21931, 23)

In [8]:
df.shape

(50000, 23)

In [10]:
child_comments = df[df.link_id!= df.parent_id]

In [12]:
child_comments.shape

(28069, 23)

In [13]:
for top_cmt_index, top_cmt_row in top_comment.iterrows():
    full_post = [top_cmt_row.body]
    full_post.append(top_cmt_row.body)
    for child_cmt_index, child_cmt_row in child_comments.iterrows():
        if child_cmt_row.parent_id == top_cmt_row.link_id:
            full_post.appendend[child_cmt_row.body]
    top_cmt_row["full_post"] = full_post

KeyboardInterrupt: